.textinputcontainer {
  display: flex;

  //justify-content: center;
  padding: 0px 10px 6px 10px;
  font-size: 17px !important;
  line-height: 17px;
}
.label {
    
}
input {
  margin-bottom: 16px;
}