
<br>
<h2>Servers</h2>
<br>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>OS</th>
                <th>CPU %</th>
                <th>RAM %</th>
                <th>Network up (mb)</th>
                <th>Network down (mb)</th>
                <th>Harddrive usage %</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let server of servers">
                <td>{{server.name}}</td>
                <td>{{server.operatingSystemType}}</td>
                <td>{{getCpu(server.id)}}</td>
                <td>{{getRam(server.id)}}</td>
                <td>{{getNetworkUp(server.id)}}</td>
                <td>{{getNetworkDown(server.id)}}</td>
                <td>{{getHarddrive(server.id)}}</td>
            </tr>
        </tbody>

    </table>
</div>

<div class="container">
  <table class="table">
      <thead>
          <tr>
              <th>Name</th>
              <th>Delete</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let server of servers">
              <td>{{server.name}}</td>
              <td> <button type="button" class="btn btn-outline-primary" (click)="deleteServer(server)">Delete</button></td>
          </tr>
      </tbody>
  </table>
</div>
<br>
<br>
